<body>
  <div class="home">
       <img id="back" src="..\..\assets\Images\backhover.svg">
       <img id="brand" src="..\..\assets\Images\brandinghover.svg">
       <img id="bird" src="..\..\assets\Images\birdhover.svg">
  </div>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Alumination
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check" (click)="onclick()" class="material-icons" style="color:white;">{{clickbut}}
      </label>
    </div>
    
    <div class="nav-links">
      <a href="javascript:void(0)">Home</a>
      <a href="javascript:void(0)">About</a>
      <a href="javascript:void(0)">Contact us</a>
    </div>
  </div>
  <h1>Schedule</h1>

<div class="lside">
  <img id="pole" src="..\..\assets\Images\signstand.svg">
  <a href="javascript:void(0)"><img class="ilink" id="tab0" (click)="d0()" src="..\..\assets\Images\board+0.svg"></a>
  <a href="javascript:void(0)"><img class="ilink" id="tab1" (click)="d1()" src="..\..\assets\Images\board+1.svg"></a>
  <a href="javascript:void(0)"><img class="ilink" id="tab2" (click)="d2()" src="..\..\assets\Images\board+2.svg"></a>
</div>

<img id="sch" src="..\..\assets\Images\scheduleDay{{day}}.png">