#back {
	width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}
div.home{
    margin-bottom: 56%;
}
#brand
{
    width: 40%;
    height: auto;
    position: absolute;
    left: 25.1%;
    top: 10%;
}
#bird
{
    width: 20%;
    height: auto;
    position: absolute;
    left: 63.5%;
    top: 7%;
}


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:700px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    div.lside
  {
      position: relative;
      width: 26vw;
      padding-bottom: 0vw;
      left: 35vw;
  }
  #sch
  {
    width: 60vw;
    padding-bottom: 60vw;
    position: relative;
    left: 3vw;
  }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 0%;
      background-color: #333;
      height: calc(100vh - 50px);
      transition-property: left, width;
      transition-duration:0.5s;
      transition-timing-function:ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 100%;
      z-index: 3;
    }
  
    .nav > .nav-links > a {
      display: block;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      left:100%;
      width:0%; 
    }
    .nav > #nav-check:checked ~ .nav-links {
      left:0%;
      width: 100%;
      overflow-y: auto;
    }
  }

  div.lside
  {
      width: 26vw;
      padding-bottom: 10vw;
      display: inline-block;
  }
  #pole
  {
    max-width: 3vw;
    position: relative;
    top: 12vw;
    left: 10vw;
    height: auto;
    z-index: 0;
    padding-bottom: 20%;
  }
  #tab0
  {
    width: 10vw;
    position: relative;
    top: -2vw;
    left: 6vw;
    height: auto;
    z-index: 1;
  }
  #tab1
  {
    width: 10vw;
    position: relative;
    left: -4vw;
    top: 4vw;
    z-index: 1;
    height: auto;
  }
  #tab2
  {
    width: 10vw;
    position: relative;
    left: 10vw;
    top: -8vw;
    z-index: 1;
    height: auto;
  }
  #sch
  {
    min-width: 350px;
    width:60%;
    top: 17vw;
    padding-bottom: 50vw;
    position: relative;
  }
  h1
  {
    text-align: center;
    font-size: 8vw;
    color: white;
  }

  .ilink:hover
  {
      transform: scale(1.2,1.2);
  }
  .ilink:active
  {
      transform: translateY(4px);
  }
